<?xml version="1.0"?>

<model>
  <name>Robo Project</name>
  <version>1.0</version>
  <sdf version="1.0">model-1_3.sdf</sdf>

  <author>
    <name>Stefano Lambertenghi</name>
    <email>lambest@usi.ch</email>
  </author>

  <author>
    <name>Felix Boelter</name>
    <email>boeltf@usi.ch</email>
  </author>

  <description>
    Course for dual color lanes robots
  </description>

  <depend>
    <model>
      <uri>model://mud_box</uri>
      <version>1.0</version>
    </model>
  </depend>

</model>
